h1, h2, h3, h4, p, table {
  font-family: "Trebuchet MS", "Arial";
  color: #444
}

table {
  border-collapse: collapse;
  width: 80%;
}

.table-fixed {
  table-layout: fixed;
}

th, td {
  border: 1px solid #c8c8c8;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th, td {
  padding: 7px;
}

td {
  text-align: center;
}

td:nth-child(1) {
  text-align: left;
}

#firstcol {
  width: 40%;
}

#historic {
  overflow: auto;
  width: 80%;
}

.historic-col {
  min-width:40px;
}

#historic-first-col {
  width: 300px;
  position: absolute;
  left: auto;
  top: auto;
  background-color: #FFF;
  z-index: 10;
}

#historic-other-col {
  position: relative;
  left: 314px;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 10px;
}

.header h1,
.header p {
  color: #f2f2f2;
  margin: 10px;
  padding-right: 10px;
}

.body {
  margin-top: 100px;
  margin-left: 10px;
}

/* unvisited link */
a {
  color: #f2f2f2;
  text-decoration: none;
}
